#menthy {
  color: #38d2a6;
}

.atas {
  text-align: center;
  display: flex;
}

.konten h1 {
  font-size: 45px;
}

.konten h6 {
  font-size: 40px;
}

.foto img {
  height: auto;
}

.konten button {
  margin-top: 1rem;
}

.layanan h1 {
  text-align: center;
  margin-top: 5rem;
}

.kartu {
  display: flex;
  justify-content: center;
}
